# flyctl launch added from .gitignore
# Dependencies
**/node_modules

# Build output
**/dist
**/dist-ssr

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Environment
**/.env
**/.env.local
**/.env.*.local

# OS
**/.DS_Store
**/Thumbs.db

# Editor
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Claude Code
**/.claude

# flyctl launch added from node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/.gitignore
# Dependencies
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/node_modules

# Build output
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/dist
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/dist-ssr

# Logs
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/logs
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/*.log
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/npm-debug.log*
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/yarn-debug.log*
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/yarn-error.log*
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/pnpm-debug.log*
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/lerna-debug.log*

# Environment
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.env
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.env.local
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.env.*.local

# OS
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.DS_Store
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/Thumbs.db

# Editor
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.vscode/*
!node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.vscode/extensions.json
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.idea
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/*.suo
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/*.ntvs*
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/*.njsproj
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/*.sln
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/*.sw?

# Claude Code
node_modules/.cache/gh-pages/git@github.com!igor-oc-diniz!portifolio.git/**/.claude
fly.toml
